/*#menu{
    text-decoration: none;
    color: #000;
    }*/

/*SELETORES NATIVOS*/
body{
    background-color: #fff;
}
label{
    text-decoration: overline;
    color: #f48;
    }

a{
    text-decoration: overline;
    color: #f08;
    }
/*nav{
    background-color: #ff0;
}
nav ul{
    width: 600px;
    background-color: #0ff;
}
*/
nav {
    position: fixed;
    left: 50px;
    top: 90px;
}
nav li{
    list-style: none;
    display: inline-flex;
}
nav li a:hover{
    color: #fff;
    background-color: #f08;
}
/*para não alterar todas as listas, apenas o menu (dentro do nav (container do componente pai. 
Por exemplo o <body>), procuro o li para formatar)*/

li{
    list-style: none;
}

/*CLASSES*/
.link_topo{
    text-decoration: none;
    color: #f0f;
    font-weight: bolder;
}

.link_topo:hover{
    color: #fff;
    background-color: #f08;
}
.ativo{
    color: #fff;
    background-color: #f08;
}
.cabecalho{
    background-color: #ccc;
    height: 100px;
}
/*IDS